//
// Themes / Dust / Main menu
// --------------------------------------------------


// Background
//

#main-menu-bg,
.mmc-dropdown-open-ul {
  background: @menu-color;
}


// Main Menu
//

#main-menu {
  .navigation,
  .mmc-dropdown-open-ul {

    li {
      a {
        color: @menu-text-color;
        .transition(all .1s);

        &:hover {
          color: #fff;
        }
      }

      &.active > a {
        color: #fff;
        background: @primary-menu-color;
        //filter: brightness(85%);
      }
    }
  }


  // Submenus
  //

  .mm-dropdown > ul,
  .mmc-dropdown-open-ul {
    background: @primary-menu-color;

    li.active > a {
      background: @primary-menu-color;
    }
  }

  .mm-dropdown.active > a {
    background: none !important;
    color: #fff !important;
  }


  // Dropdowns
  //

  .mmc-dropdown-open > a {
    color: #fff !important;
  }

  .mmc-title {
    color: #fff;
    background: @primary-menu-color;
  }

  // Main menu content blocks
  .menu-content {
    border-color: @primary-menu-color;

    .btn-outline {
      border-color: @primary-menu-color;
      color: @menu-text-color;

      &:hover {
        color: #fff;
      }
    }
  }
}


// Dropdown highlights
//

// Highlight opened dropdown
.mmc-dropdown-open .mm-dropdown.open > a,
&.mme #main-menu .mm-dropdown.open > a {
  color: #fff;
}

@media (min-width: @screen-tablet) {
  // Highlight expanded submenus
  #main-menu .mm-dropdown.open > a {
    color: #fff;
  }

  // Unhighlight expanded submenus in collapsed mode
  &.mmc #main-menu .navigation > .mm-dropdown.open > a {
    //filter: brightness(135%);
  }
}
