// Styles for menu button screens

.menu-screen-header {
  padding: 10px;
  font-weight: bold;
  margin: 6px;
  border-bottom: 2px solid var(--primary-color);
  color: var(--primary-color);
}

.menu-screen-button {
  height: 120px;
  font-size: 16px;
  width: 6vw;
  margin-bottom: 6px;
  border: 0;
  background: transparent !important;
  > .button-icon {
    display: block;
    text-align: center;
    font-size: 40px;
    margin-bottom: 10px;
    line-height: 1;
    height: 40px;
  }
  > .button-text {
    white-space: normal;
    line-height: 20px;
    margin-bottom: 10px;
    font-size: small;
    display: inline-block;
    height: 40px;
  }
}

@media (min-width: 2001px) {
  .menu-screen-button {
    width: 6vw;
  }
}

@media (min-width: 1001px) and (max-width: 2000px) {
  .menu-screen-button {
    width: 12vw;
  }
}

@media (min-width: 769px) and (max-width: 1000px) {
  .menu-screen-button {
    width: 18vw;
  }
}

@media (max-width: 768px) {
  .menu-screen-button {
    width: 23vw;
  }
}

@media (max-width: 640px) {
  .menu-screen-button.btn .button-text  {
    display: inherit;
  }
}