//
// Themes / Sky
// --------------------------------------------------

.theme-sky {
  --theme-color: #2d7bbb;
  --text-color: #333333;
  --primary-color: #3690e6;
  --secondary-color: #ddebfa;
  --primary-text-color: #fff;
  --secondary-text-color: #333333;
  --primary-background-color: #f6f6f6;
  --secondary-background-color: #fafafa;
  --primary-menu-color: #6363B1;
  --secondary-menu-color: #fff;
  --menu-text-color: #dadaed;
  --primary-navbar-color: #52ADF2;
  --secondary-navbar-color: #418ce4;
  --navbar-dropdown-color: #418ce4;
  --navbar-text-color: #fff;
  --panel-background-color: #fff;
  --panel-header-color: #8585c2;
  --panel-border-color: #6363b1;
  --grid-header-color: #ebebeb;
  --grid-border-color: #dbdbdb;
  --disabled-border-color: #d6d6d6;
  --disabled-color: #eee;
  --required-color: #dfd;
  --loading-bar-color: #ffffff;

  &.dark {
    --theme-color: #2d7bbb;
    --text-color: #eee;
    --primary-color: #235d8d;
    --secondary-color: #283b49;
    --primary-text-color: #fff;
    --secondary-text-color: #d5d9f5;
    --primary-background-color: #060606;
    --secondary-background-color: #222222;
    --primary-menu-color: #6363B1;
    --secondary-menu-color: #fff;
    --menu-text-color: #b5b5df;
    --primary-navbar-color: #1d3b50;
    --secondary-navbar-color: #418ce4;
    --navbar-text-color: #ccc;
    --navbar-dropdown-color: #114;
    --panel-background-color: #131313;
    --panel-header-color: #8585c2;
    --panel-border-color: #6363b1;
    --grid-header-color: #333;
    --grid-border-color: #444;
    --border-color: #444;
    --disabled-border-color: #565656;
    --disabled-color: #333;
    --disabled-text-color: #666;
    --required-color: #004;
    --loading-bar-color: #6596be;
  }

  // Define navbar specific backgrounds
  #main-navbar,
  #main-navbar .navbar-header,
  #main-navbar .main-navbar-collapse {
    background-image: linear-gradient(to bottom, @primary-navbar-color 0%, @secondary-navbar-color 200%) !important;
    background-repeat: repeat-x !important;
  }
}
