/* Angular grid configuration */
.grid {
  min-height: 120px;
  position: relative;
  overflow: hidden !important;
  margin-bottom: 0;
  &.grid-bordered {
    border: 1px solid @grid-border-color;
    border-radius: 0 0 calc(@border-radius + 1px) calc(@border-radius + 1px);
  }

  .ui-grid {
    border-color: @grid-border-color;
  }

  .table.table-bordered {
    th, td {
      border-left: 0;
      border-top: 0;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
    th {
      text-align:center;
      vertical-align: middle;
    }
  }

  .fixed-height:after {
    content: "\00a0";
  }
  .table-footer {
    border-width: 0;
    border-top-width: 1px;
    margin-top: 0;
    min-height: 30px;
    border-color: @grid-border-color;
  }

  .frozen-div {
    .table.table-bordered th {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
  }

  .frozen-bdiv {
    .table.table-bordered {
    }
  }

  td.merged {
    border-right: 0 solid transparent;
    margin-right: 1px;
  }

  // Remove padding top from canvas
  .ui-grid-canvas {
    padding-top: 0;
    overflow: auto;
  }

  .ui-grid-top-panel {
    font-weight: 600;
    border-color: @grid-border-color;
    background: @grid-header-color;
  }

  .ui-grid-cell {
    cursor: pointer;
    border-right: 1px solid @grid-border-color;
    .ui-grid-cell-contents {
      padding: 0 4px;
      &.component {
        padding: 0;
        .column-input {
          .loader {
            width: 100%;
            position: absolute;
            height: 100%;
            vertical-align: middle;
            text-align: center;
            z-index: 10;
            display: block;
          }
        }
      }
    }
  }

  .ui-grid-row:last-child .ui-grid-cell {
    border-color: @grid-border-color;
  }

  .ui-grid-header-cell-primary-focus {
    outline: 0;
  }

  .ui-grid-row {
    border-bottom: 1px solid @grid-border-color;
    overflow: hidden;
  }

  .ui-grid-contents-wrapper {
    background-color: @panel-background-color;
  }

  .ui-grid-header {
    border-color: @grid-border-color;
  }

  .ui-grid-header-cell {
    height: 100%;
    vertical-align:middle;
    border-color: @grid-border-color;
  }

  .ui-grid-header-cell:last-child .ui-grid-column-resizer.right {
    border-color: @grid-border-color;
  }

  .ui-grid-checkbox,
  .ui-grid-header-checkbox {
    cursor: pointer;
    line-height: 100%;
    width: 100%;
    height: 100%;
    .display-flex;
    .flex-direction(row);
    .flex-justify(center);
    .checkbox {
      width: 15px;
      height: 15px;
      display: inline-block;
      .flex(1);
      .flex-align-self(center);
      margin: 0;
      input {
        display: none;
      }
      .lbl {
        width: 15px;
        height: 15px;
        margin-left: 0;
        &:after, &:before {
          margin: 0 !important;
        }
      }
    }
  }

  .pagination {
    overflow: hidden;
    > li {
        &.active > a {
          color: var(--primary-text-color);
          background: var(--primary-color);
        }
        > a {
        border-color: @grid-border-color;
      }
    }
  }

  .ui-grid-pinned-container.ui-grid-pinned-container-left .ui-grid-cell:last-child {
    border-color: @grid-border-color;
  }

  .pagination-content {
    overflow:hidden;
    padding: 0 !important;
  }

  .pagination-number {
    display: inline-block;
    vertical-align:top;
  }

  .pagination-goto {
    height: 23px;
    width: 28px;
    padding-left: 2px;
    border: 1px solid @grid-border-color;
    background: var(--secondary-background-color);
  }

  input[type="number"][class~="pagination-goto"]::-webkit-outer-spin-button, input[type="number"][class~="pagination-goto"]::-webkit-inner-spin-button {
    appearance: textfield;
    margin: 0;
  }

  .pagination-pager {
    float: right;
    overflow:hidden;
    display: inline-block;
    background-color: transparent;
    padding: 0 7px;
    font-size: 12px;
    border-radius: @border-radius;
    width: auto;
    margin-left:15px;
  }

  &.grid-sm {
    font-size: @font-size-small;
    .ui-grid-cell-contents.component {
      .column-input {
        height: @input-height-small;
        textarea {
          height: @input-height-small;
        }
        label.checkbox {
          margin: 0 0 0 6px;
          top: -12px;
          position: relative;
        }
        .visible-value {
          padding: 0 4px;
          line-height: @input-height-small;
        }
      }
    }
    .ui-grid-cell {
      line-height: @input-height-small;
    }
    /*.table.table-bordered {
      th, td {
        font-size: @font-size-small;
      }
      th {
        padding: 5px 4px;
        div {
          line-height: 17px;
        }
      }
      td {
        line-height: @input-height-small;
        padding: 0 4px;
        height: @input-height-small;
        overflow: hidden;
        cursor: pointer;
        vertical-align: middle;
      }

      .multioperation-icon > i {
        line-height: @input-height-small - 3px;
      }
    }*/
    .table-footer {
      padding: 3px 12px 2px 12px;
      line-height: 24px;
      height: 28px;
    }
    .pagination-content {
      line-height: 23px;

      .text-center {
        display: inline-flex;
        justify-content: center;
      }
    }
    .grid-buttons {
      margin: -1px;
    }
    .loader {
      line-height: 26px;
    }
  }
  &.grid-md {
    font-size: @font-size-base;
    .ui-grid-cell-contents.component {
      .column-input {
        textarea {
          height: @input-height-base;
        }
        label.checkbox {
          margin: 0 0 0 6px;
          position: relative;
          top: -14px;
          height: 32px;
        }
        .visible-value {
          padding: 0 4px;
          line-height: @input-height-base;
        }
      }
    }
    .ui-grid-cell {
      line-height: @input-height-base;
    }
    /*.table.table-bordered {
      th, td {
        font-size: @font-size-base;
      }
      th {
        padding: 8px 4px;
        div {
          line-height: 19px;
        }
      }
      td {
        padding: 0 4px;
        line-height: @input-height-base;
        height: @input-height-base;
        overflow: hidden;
        cursor: pointer;
      }
      .multioperation-icon > i {
        line-height: @input-height-base - 3px;
      }
    }*/
    .table-footer {
      padding: 2px 12px 2px 12px;
      line-height: 34px;
      height: 38px;
      .pagination-content {
        font-size: @font-size-base;
      }
      .pagination-number {
        line-height: 32px;
      }
    }
    .pagination-content {
      .text-center {
        display: inline-flex;
        justify-content: center;
      }
    }
    .grid-buttons {
      margin: -2px;
    }
    .loader {
      line-height: 32px;
    }
  }
  &.grid-lg {
    font-size: @font-size-large;
    .ui-grid-cell-contents.component {
      .column-input {
        textarea {
          height: @input-height-large;
        }
        label.checkbox {
          margin: 8px 0 0 6px;
          position: relative;
          top: -23px;
          height: 36px;
        }
        .visible-value {
          padding: 0 4px;
          line-height: @input-height-large;
        }
      }
    }
    .ui-grid-cell {
      line-height: @input-height-large;
    }
    /*.table.table-bordered {
      th, td {
        font-size: @font-size-large;
      }
      th {
        padding: 10px 4px;
        div {
          line-height: 21px;
        }
      }
      td {
        cursor: pointer;
        padding: 0 4px;
        height: @input-height-large;
        overflow: hidden;
        line-height: @input-height-large;
      }
      .multioperation-icon > i {
        line-height: @input-height-large - 3px;
      }
    }*/
    .table-footer {
      padding: 2px 12px 2px 12px;
      line-height: 38px;
      height: 42px;
      .pagination-content {
        font-size: @font-size-large;
      }
      .pagination-number {
        line-height: 36px;
      }
    }
    .pagination-content {
      .text-center {
        display: inline-flex;
        justify-content: center;
      }
    }
    .grid-buttons {
      margin: -2px;
    }
    .loader {
      line-height: 36px;
    }
  }

  .pagination-sm {
    a {
      padding: 2px 8px;
    }
  }

  /*input.cbox {
    position: relative;
    margin-top: 0;
    font-weight: bold;
    top: 0;
    left: 1px;
    vertical-align: middle;
    width: 13px;
    height: 13px;
    &:before {
      border-radius: @border-radius-base;
      content: "";
      opacity: 1;
      border: 1px solid #bbb;
      background: #fff;
      display: block;
      position: relative;
      top: -2px;
      left: -2px;
      width: 15px;
      height: 15px;
      box-sizing: border-box;
      transition: all 0.2s;
      cursor: pointer;
    }
    &:after {
      display: none;
      position: relative;
      content: "\f00c";
      top: -16px;
      left: -1px;
      width: 13px;
      height: 15px;
      line-height: 15px;
      font-size: 11px;
      font-family: FontAwesome;
      text-align: center;
      cursor: pointer;
    }
    &:checked:after {
      display: block;
    }
  }*/

  .save-button {
    position: absolute;
    top: -10000px;
    left: -10000px;
    padding: 4px;
    border: 1px solid @grid-border-color;
    border-top: 0;
    white-space: nowrap;
    z-index: 1;
  }

  // Subtotal grid style
  .SUBTOTAL {
    background-color: #eee !important;
  }

  // Total grid style
  .TOTAL {
    background-color:#ddd !important;
    border-top: solid #ccc 2px;
    td {
      font-weight: bold !important;
    }
  }

  .DELETE {
    background-color: #eee;
    .visible-value {
      text-decoration: line-through;
    }
  }

}

.grid-image {
  max-width: 28px;
  max-height: 26px;
}

.grid-container {
  position: relative;
  .grid-node {
    position:absolute;
    width:100%;
    height:100%;
  }
}

// Fix for column resizer
.ui-grid-column-resizer {
  z-index: 1;
}

.ui-grid-filter-container {
  padding: 2px;
  position: relative;
  .ui-grid-filter-button {
    top: 5px;
    right: 7px;
    color: #999;
  }
  input[type="text"].ui-grid-filter-input {
    padding: 2px 6px;
    background: var(--secondary-background-color);
  }
}

.ui-grid-contents-wrapper {
  .expandible-vertical;
}

.edition {
  display:none;
}

.ui-grid-row.faded {
  color: #999999;
  background-color: #eeeeee;
}

.icon-fixed-width-grid {
  width: 21px;
}